<mat-card>
  <form color="primary" [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
    <h1>Reset Password</h1>
    <h2>Your new password must meet the following rules</h2>
    <ul>
      <li>11 characters long</li>
    </ul>
    <mat-form-field color="primary">
      <input matInput type='text' placeholder="Username" required="true" id="username"  formControlName="username"/>
    </mat-form-field>
    <mat-form-field color="primary">
      <input matInput type='password' placeholder="Password" required="true" id="password"  formControlName="password"/>
    </mat-form-field>
    <mat-form-field color="primary">
      <input matInput type='password' placeholder="Password Confirmation" required="true" id="passwordConfirmation"  formControlName="passwordConfirmation"/>
    </mat-form-field>
    <br>
    <button mat-button type="submit" color="primary" [disabled]="isFilledOut()">Submit</button>
  </form>
</mat-card>
