<mat-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPassword" color="primary">
        <h1>Reset Password</h1>
        <h2>Your new password must meet the following rules</h2>
        <ul>
            <li>11 characters long</li>
        </ul>
        <mat-form-field color="primary">
            <input formControlName="username" id="username" matInput placeholder="Username" required="true"
                   type='text'/>
        </mat-form-field>
        <mat-form-field color="primary">
            <input formControlName="password" id="password" matInput placeholder="Password" required="true"
                   type='password'/>
        </mat-form-field>
        <mat-form-field color="primary">
            <input formControlName="passwordConfirmation" id="passwordConfirmation" matInput
                   placeholder="Password Confirmation"
                   required="true" type='password'/>
        </mat-form-field>
        <br>
        <button [disabled]="isFilledOut()" color="primary" mat-button type="submit">Submit</button>
    </form>
</mat-card>
