<mat-card>
  <form color="primary" [formGroup]="searchModelForm">
    <mat-form-field>
      <input matInput placeholder="search models" (keyup)="paginatorSearch()" formControlName="modelSearch" color="primary"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="search tags" (keyup)="paginatorSearch()" formControlName="tagSearch" color="primary"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Results Source</mat-label>
      <mat-select formControlName="source" color="primary">
        <mat-option value="Zevrant Services">Zevrant Services</mat-option>
        <mat-option value="Thingiverse" (click)="paginatorSearch()">Thingverse</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-paginator
      [length]="totalRows"
      [pageIndex]="0"
      [pageSize]="20"
      [pageSizeOptions]="[5, 10, 25, 50, 100]">
      <button mat-button (click)="paginatorSearch()">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-paginator>
    <mat-accordion displayMode="flat" multi class="mat-table">
      <section matSort class="mat-elevation-z2 mat-header-row">
        <th class="mat-header-cell" mat-sort-header="Model">Model</th>
        <th class="mat-header-cell" mat-sort-header="Tags">Tags</th>
      </section>
      <mat-expansion-panel *ngFor="let model of searchData" (click)="getCoverPhoto(model)">
        <mat-expansion-panel-header class="mat-row">
          <span class="mat-cell">{{model.fileName}}</span>
          <span class="mat-cell">{{model.tags}}</span>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput [(ngModel)]="model.tags" [formControlName]="model.fileName" placeholder="Update Tags tag1.tag2,tag3" color="primary">
        </mat-form-field>
        <button (click)="updateTags(model)" color="accent" mat-button matTooltip="Add Tag">
          <mat-icon>library_add</mat-icon>
        </button>
        <button (click)="download(model)" mat-button color="accent" >
          <mat-icon>cloud_download</mat-icon>
        </button>
        <img [height]="400" [src]="model.coverPhoto" [width]="500" id="photo-id"/>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</mat-card>

