.mat-header-cell {
  padding: 10%;
}

.mat-cell {
  padding-right: 1%
}

a {
  display: none;
}

mat-form-field {
  padding-right: 2%;
}

.spinner {
  margin-left: 45%;
  padding-top: 10%;
  height: 500px;
  width: 500px;
  position: fixed;
}
