@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
  background-color: #333333;
  padding: 0 !important;
  margin: 0 !important;
}

app-root {
  height: 100%;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}


