/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/_theming.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@include mat-core();

$default-theme: mat-dark-theme(mat-palette($mat-green, A400), mat-palette($mat-light-blue, A400));
@include angular-material-theme($default-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
