spring:
  application:
    name: zevrant-home-ui
  servlet:
    multipart:
      max-request-size: 999999999999999999
      max-file-size: 999999999999999999
server:
  tomcat:
    max-threads: 1
  port: 8080
  max-http-header-size: 99999999999
  ssl:
    key-store: /storage/keys/zevrant-services.p12
    key-store-type: PKCS12
    key-store-password: ${password}
    key-alias: 1
    enabled: true

zuul:
  host:
    connect-timeout-millis: 60000
    socket-timeout-millis: 60000
    max-total-connections: 200
    max-per-route-connections: 20
    time-unit: MILLISECONDS
    time-to-live: 10000
  routes:
    model:
      sensitiveHeaders:
      path: /zevrant-model-service/**
      url: https://localhost:9003
      stripPrefix: false
    oauth:
      sensitiveHeaders:
      path: /zevrant-oauth2-service/**
      url: https://localhost:9001
      stripPrefix: false
    outsource:
      sensitiveHeaders:
      path: /zevrant-outsource-service/**
      url: https://localhost:9004
      stripPrefix: false
  ssl-hostname-validation-enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,info
  health:
    ldap:
      enabled: false

