table{
  width: 14%;
}

form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

td {
  width: 5%;
}

.center {
  display: flex;
  justify-content: center
}

.line-break {
  flex-basis: 100%;
  height: 0;
}

.push {
 left: 25%;
}
