<mat-card color="primary">
  <form color="primary" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Welcome! Please Log In</h1>
    <mat-form-field color="primary">
      <input placeholder="username" matInput id="username" formControlName="username"/>
    </mat-form-field>
    <br>
    <mat-form-field color="primary">
      <input matInput type='password' placeholder="password" id="password"  formControlName="password"/>
    </mat-form-field>
    <br>
    <mat-form-field color="primary">
      <input matInput type='text' placeholder="2FA Code" id="2fa"  formControlName="twoFactor"/>
    </mat-form-field>
    <br>
    <button mat-button type="submit" id="submit" color="primary">Submit</button>
  </form>
<span color="accent">Forgot password? Click </span><a color="secondary" routerLink="forgot-password">here</a><br>
<span color="accent">New User? Click </span><a color="secondary" routerLink="register">here</a>
</mat-card>

