
<mat-toolbar color="primary">
  <a mat-button color="secondary" routerLink="">Home</a>
  <button mat-button color="secondary" [matMenuTriggerFor]="appsMenu">Apps</button>
  <button mat-button color="secondary" [matMenuTriggerFor]="settingsMenu">Profile</button>
  <span color="primary" class="fill-space"></span>
  <button *ngIf="!isLoggedIn()" color="secondary" mat-button routerLink="login">Login</button>
  <button *ngIf="isLoggedIn()" [mat-menu-trigger-for]="userMenu" color="secondary"
          mat-button>{{username}}</button>
</mat-toolbar>

<mat-menu #appsMenu="matMenu" color="primary">
  <a mat-menu-item color="secondary" routerLink="prints">prints</a>
</mat-menu>
<mat-menu #settingsMenu="matMenu" color="primary">

</mat-menu>

<mat-menu #userMenu="matMenu" color="primary">
  <a color="secondary" mat-menu-item routerLink="account">account</a>
  <a (click)="logout()" color="secondary" mat-menu-item>logout</a>
</mat-menu>
