<p>
  <mat-toolbar color="primary">
    <a mat-button color="secondary" routerLink="">Home</a>
    <button mat-button color="secondary" id="appsMenu" [matMenuTriggerFor]="appsMenu">Apps</button>
    <button *ngIf="hasRole(ADMIN_ROLE) | async" mat-button color="secondary" id="adminPage" routerLink="administration">Admin Area</button>
    <span color="primary" class="fill-space"></span>
    <button *ngIf="!isLoggedIn()" color="secondary" id="login" mat-button routerLink="login">Login</button>
    <button *ngIf="isLoggedIn()" [mat-menu-trigger-for]="userMenu" color="secondary" id="userMenu" mat-button>{{username}}</button>
  </mat-toolbar>
</p>
<mat-menu #appsMenu="matMenu" color="primary">
  <a mat-menu-item color="secondary" id="prints" *ngIf="hasRole(PRINTS_ROLE) | async" routerLink="prints">prints</a>
</mat-menu>

<mat-menu #userMenu="matMenu" color="primary">
  <a color="secondary" id="settings" mat-menu-item routerLink="account">account</a>
  <a (click)="logout()" id="logout" color="secondary" mat-menu-item>logout</a>
</mat-menu>
