<p>
    <mat-toolbar color="primary">
        <a color="secondary" mat-button routerLink="">Home</a>
        <button [matMenuTriggerFor]="appsMenu" color="secondary" id="appsMenu" mat-button>Apps</button>
        <button *ngIf="hasRole(ADMIN_ROLE) | async" color="secondary" id="adminPage" mat-button
                routerLink="administration">Admin Area
        </button>
        <span class="fill-space" color="primary"></span>
        <button *ngIf="!isLoggedIn()" color="secondary" id="login" mat-button routerLink="login">Login</button>
        <button *ngIf="isLoggedIn()" [mat-menu-trigger-for]="userMenu" color="secondary" id="userMenu"
                mat-button>{{username}}</button>
    </mat-toolbar>
</p>
<mat-menu #appsMenu="matMenu" color="primary">
    <a *ngIf="hasRole(PRINTS_ROLE) | async" color="secondary" id="prints" mat-menu-item routerLink="prints">prints</a>
    <a *ngIf="hasRole(CAMERA_ROLE) | async" color="secondary" id="camera" mat-menu-item routerLink="camera">prints</a>
</mat-menu>

<mat-menu #userMenu="matMenu" color="primary">
    <a color="secondary" id="settings" mat-menu-item routerLink="account">account</a>
    <a (click)="logout()" color="secondary" id="logout" mat-menu-item>logout</a>
</mat-menu>
