<mat-card color="primary">
  <div class="center" >
    <form color="primary" [formGroup]="userUpdateForm" (ngSubmit)="submit()">
      <mat-form-field color="primary">
        <input matInput type="text" id="username" placeholder="username" formControlName="username" [(ngModel)]="user.username">
      </mat-form-field>
      <br>
      <mat-form-field color="primary">
        <input matInput type='password' placeholder="password" id="password"  formControlName="password" [(ngModel)]="user.password" [required]="isEmpty()">
      </mat-form-field>
      <br>
      <mat-form-field color="primary">
        <input type="password" matInput placeholder="Confirm Password" formControlName="passwordConfirmation" [(ngModel)]="user.passwordConfirmation" [required]="isEmpty()">
      </mat-form-field>
      <br>
      <mat-form-field color="primary">
        <input type="email" matInput placeholder="Email" formControlName="email" [(ngModel)]="user.emailAddress">
      </mat-form-field>
      <br>
      <mat-label>Two Factor Authentication</mat-label>
      <mat-checkbox class="checkbox" id="twoFactor" [disabled]="twoFactorEnabled | async" (change)="enableTwoFactor()" [checked]="twoFactorEnabled | async"></mat-checkbox>
      <br>
      <mat-label>Subscribe to News & Updates?</mat-label>
      <mat-checkbox class="checkbox" id="subscribe" (change)="updateSubscription()" [checked]="subscribed | async"></mat-checkbox>
<!--      <mat-checkbox class="checkbox" (click)="applyTag(tag)" [checked]="tag.isApplied | async"></mat-checkbox>-->

      <button mat-button type="submit" color="primary">Save Changes</button>
    </form>
  </div>
</mat-card>
