<mat-accordion>
  <section matSort class="mat-elevation-z2 mat-header-row">
    <th class="mat-header-cell" mat-sort-header="Model">Model</th>
    <th class="mat-header-cell" mat-sort-header="Tags">Tags</th>
  </section>
  <mat-expansion-panel *ngIf="isAdmin">
    <mat-expansion-panel-header class="mat-row">
      <span class="mat-cell">Session Upload</span>
    </mat-expansion-panel-header>
    <div class="container">
      <h1>{{campaignName}}</h1>
      <br>
      <div class="push">
        <form color="primary" [formGroup]="uploadRecordingForm">
          <mat-label class="space">Recording:</mat-label>
          <button (click)="fileInput.click()" color="accent" mat-button>
            <mat-icon>library_add</mat-icon>
            <input #fileInput (change)="fileUploadEvent($event)" id="fileUploadInput"
                   style="display:none"
                   type="file">
          </button>
          <mat-form-field color="primary">
            <input matInput color="primary" id="sessionName" placeholder="Session Name" formControlName="sessionName">
          </mat-form-field>
          <br>
          <mat-form-field class="space" color="primary">
            <input matInput color="primary" id="sessionNumber" placeholder="Session Number" formControlName="sessionNumber">
          </mat-form-field>
          <mat-form-field class="space" color="primary">
            <input matInput color="primary" id="sessionNotesLink" placeholder="Session Notes Url" formControlName="sessionNotesLink">
          </mat-form-field>
          <button (click)="submit()" class="right" color="primary" mat-button>Submit</button>
        </form>
      </div>
    </div>
    <div *ngIf="showProgress">
      <h4>Uploading... please wait as this may take a few minutes. {{progress.getValue().toString().split(".")[0]}}%</h4>
      <br>
      <mat-progress-bar [mode]="mode | async"  [value]="progress | async"></mat-progress-bar>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-card>
  <mat-vertical-stepper #stepper>

  </mat-vertical-stepper>
</mat-card>
