.container {
  display: inline;
  width: 100%;
}

.push {
  margin-left: 35%;
}

h1 {
  margin-left: 45%;
}

.space {
  margin-left: 1%;
}

h4 {
  margin-top: 3%;
  margin-left: 35%;
}

mat-progress-bar {
  width: 60%;
  margin-left: 20%;
}

mat-expansion-panel {
  width: 90%;
  margin-left: 10%;
}
