<mat-sidenav-container color="primary">
  <mat-sidenav #sidenav mode="side" opened fixedInViewport="non-fixed"
                fixedBottomGap="0" fixedTopGap="64">
    <mat-nav-list>
      <mat-list-item routerLink="/dnd/create-campaign" *ngIf="hasRole('D&D-admin') | async">
        <h3>Create Campaign</h3>
      </mat-list-item>
      <mat-list-item *ngFor="let campaign of campaigns" [routerLink]="'/dnd/campaign/' + campaign">
        <h3>{{campaign}}</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
<router-outlet></router-outlet>
