.checkbox {
  padding-left: 5%;
}

div {
  margin: fill;
  padding: 1%;
}

.center {
  display: flex;
  justify-content: center;
}

.mat-cell {
  padding: 30px 30px 30px 0;
}

.mat-row {
  height: auto;
}

.down {
  padding-top: 1.6%;
}

.spinner {
  margin-left: 45%;
  padding-top: 10%;
  height: 500px;
  width: 500px;
  position: fixed;
}
