
<mat-toolbar>
  <a mat-button routerLink="/home">Home</a>
    <button mat-button [matMenuTriggerFor]="appsMenu">Apps</button>
  <span class="fill-space"></span>
  <button *ngIf="isLoggedIn()" [matMenuTriggerFor]="settingsMenu" mat-button>Profile</button>
  <a *ngIf="isNotLoggedIn()" id="login" mat-button>Login</a>
</mat-toolbar>
<mat-menu #appsMenu="matMenu">
  <button mat-menu-item routerLink="/camera">Dog Camera</button>
</mat-menu>
<mat-menu #settingsMenu="matMenu">

</mat-menu>
<router-outlet></router-outlet>

