<mat-card class="formatted, centered">
    <h1 class>Privacy Policy</h1>
    <div class="centered">
        <p class="formatted, largerText">
            To keep things simple, here at Zevrant Services we dislike the seedy happenings in big tech as to how your
            data is collected and monetized. To that effect, while we do collect a minimal amount data, we do not share
            that data with anyone with the exception of the two following conditions.
        </p>
        <br>
        <ol>
            <li>
                We suspect our systems are being used to plan or perpetrate a crime or evidence of a recent crime. At
                this point the proper authorities will be notified after an internal review. This includes any 3rd part
                software we may employ to prevent unauthorized use of our systems, for example scanning photos for
                underage pornography or may access data if relating to the whereabouts of missing persons (for example
                uploading a photo of a missing person with a newspaper containing today's date) may be accessed without
                consent.
            </li>
            <li>
                We have been contacted by a law enforcement agency, with the proper documentation and probable cause, in
                regards to any evidence for ongoing cases as enforceable by law.
            </li>
        </ol>
        <br>
        These exceptions are in place for our protection as well as yours, being that, failure to comply in those
        situations would have us be shut down.
        <br>
        With that said, your data can and will be used internally for purposes within our software suite including but
        not limited to data analytics, auditing, testing, and other features as to provide a more robust feature set.
        You will be provided the opportunity to opt out of any features that aggregate data from multiple users that are
        subsequently displayed publicly or to our user base. This does not apply to personnel, actively involved to
        developing new features or maintaining existing features in accordance with their designated roles. Exclusions
        to this policy are listed below and typically apply to generic things that do not personally identify any user.
        We reserve the right to display the following metrics publicly.
        <br>
        <ol>
            <li>
                Subscriber/User Count - As this does not personally identify any individual user.
            </li>
        </ol>
        <br>
        By continuing to use of our systems, you agree to the terms and conditions set forth. If you believe these
        conditions to be in violation of any state, local, federal, regional, global laws or the laws of any other
        legally recognized source of authority please contact us at zevrant@zevrant-services.com.
    </div>
</mat-card>

