mat-card {
  display: inline-block;
}

div {
  width: 60%;
}

h1 {
  text-align: center;
}

.formatted {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.centered {
  margin: auto;
}

.largerText {
  font-size: medium;
}