mat-card {
  display: inline-block;
}

.formatted {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.centered {
  text-align: center;
  vertical-align: middle;
}

.largerText {
  font-size: medium;
}